/*公共样式*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #d0d0d0;
}
section,aside{
	background: #F0F0F0;
}
header,footer{
	background: #3C3C3C;
	width: 100%;
	height: 60px;
	line-height: 60px;
}
section,aside{
	border:1px solid #d0d0d0;
	margin: 20px;
	padding: 20px;
	width: 100%
}
p{
	text-indent: 2em;
}


/*顶部样式*/

header h1{
	float: left;
	margin-left: 30px;
}
header nav{
	float: right;
}
nav li{
	float: left;
	margin-right: 30px;
}
nav a{
	color: 	#FFFFFF;
}

/*内容样式*/
.picture{
	width:300px;
}
article{
	width: 100%;
	padding-right: 460px;
	float: left;

}
.public h3,.public span{
	display: block;
	color: 	#8E8E8E;
	margin-top: 10px;
}
section ul{
	list-style: none;
	margin-left: 30px;
}
section li{
	margin-top: 15px;
}

figure{
	width: 20%;
	display: inline-block;
	margin-left: 50px;
	border: 1px solid #BEBEBE;
	text-align: center;
	padding: 10px;
}
img{
	margin-top: 10px;
	width: 100%;
}

ol{
	margin: 30px 50px;
}
table{
	width: 100%;
}
thead{
	background: #3C3C3C;
	color: 	#F0F0F0;
}
tfoot{
	background: #9D9D9D;
}
table td,table{
	border: 1px solid #BEBEBE;
	border-collapse: collapse;
}
/*侧栏样*/
aside{
	width: 400px;
	float: right;
	margin-left: -100%;
}
aside h4{
	border-left: 2px solid #BEBEBE;
	padding-left: 10px;
}
fieldset{
	width: 100%;
	font-size: 14px;
	padding: 20px;
	margin-top: 10px;
}
fieldset span{
	color: #BEBEBE;
	margin-left: 120px;
}
fieldset div{
	margin: 10px;
}
.firstpassword{
	margin-left: 38px;
}
.middle{
	margin-left: 80px;
}
textarea{
	vertical-align: top;
	width: 200px;
	height: 50px;
}
button[type="submit"]{
	width: 100%;
	height: 30px;
	background: #6A6AFF;
	border-radius: 10px;
	
}

/*底部样式*/
footer{
	text-align: center;
	clear: both;
}



